@using PagedList
@using PagedList.Mvc
@using Twitter.App.Models.ViewModels
@model IEnumerable<Twitter.App.Models.ViewModels.TweetViewModel>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<nav style="background: #009688">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="@Url.Action("Index")" class="breadcrumb">首页</a>
            <a href="@Url.Action("Get", new {groupId = ViewData["GroupId"], p = 1})" class="breadcrumb">@ViewData["GroupName"]</a>
        </div>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>

        <div class="row center">
            <h5 class="header col s12 light grey-text">@Resources.Group·@ViewData["GroupName"]</h5>
        </div>

        <div class="row" style="max-width: 700px; margin: auto">
            @using (Html.BeginForm("CreateTweet", "Tweets", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="input_text" type="text" length="200" name="Text">
                            <input id="hidden_group_id_property" type="text" name="GroupId" value="@ViewData["GroupId"]" style="display: none !important;">
                            <label for="input_text">Say something ...</label>
                        </div>
                        <input style="display: none !important;" type="submit" value="Post" />
                    </div>
                </form>
            }

        </div>

        <div style="max-width: 700px; margin: auto">
            <ul class="">
                @foreach (var tweet in Model)
                {
                    Html.RenderPartial("MaterializedTweet", tweet);
                }
            </ul>
            <br>
            <div class="paging">
                <ul class="pagination">
                    @{
                        var data = Model as IPagedList<TweetViewModel>;
                    }
                    @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Get", new { p = page }))
                </ul>
            </div>
        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 38px;">
            <a class="btn-floating btn-large red" href="@Url.Action("AddTweet", "Group", new { groupId = $"{ViewData["GroupId"]}" })">
            <i class="large material-icons">mode_edit</i>
            </a>
        </div>

    </div>
</div>
