@using Twitter.App.Constants
@model IEnumerable<Twitter.App.Models.ViewModels.GroupVieModels>

<div class="col s4 center-align">
    <h6 class="header col s12 light grey-text">@ViewData["Classification"] (@Model.ToList().Count)</h6>
    <div class="collection" style="max-width: 300px; margin: auto">
        @foreach (var group in Model)
        {
            <div>
                @if (group.HasImageOverview)
                {
                    <img style="max-width: 42px" class="left" src="~/img/Uploads/Thumbnails/@group.ImageOverview" alt="">
                }
                else
                {
                    <img style="max-width: 42px" class="left" src=@Constants.Based64GroupOverviewImage alt="">
                }
            </div>

            <a href="@Url.Action("Get", new {groupId = group.Id, p = 1})" class="collection-item">
                <div style="text-align: left; margin-left: 30px; ">
                    
                    @group.Name
                    <span class="badge">@group.TweetsCount 条讨论</span>
                </div>
            </a>
        }
    </div>
</div>