@using Twitter.App.Constants
@using Twitter.Models
@model IEnumerable<Twitter.App.Models.ViewModels.GroupVieModels>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<nav style="background: #009688">
    <div class="nav-wrapper container" style="padding-top: 0px">
        <div class="col s12">
            <a href="@Url.Action("Index")" class="breadcrumb">首页</a>
        </div>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        @{
            Html.RenderAction("GetUserRecommand");
        }

        <div class="section hide-on-small-only">
            @*<div class="row center">
                <h5 class="header col s12 light grey-text">热门讨论分类 </h5>
            </div>*@
            <div class="row">
                @{
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.兴趣爱好});
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.社交聊天});
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.我爱学习});
                }
            </div>
            <div class="row">
                @{
                    Html.RenderAction("GetClassificatedGroup", "Group", new { classification = Classification.吃货俱乐部 });
                    Html.RenderAction("GetClassificatedGroup", "Group", new { classification = Classification.社团组织});
                    Html.RenderAction("GetClassificatedGroup", "Group", new { classification = Classification.学院组织 });
                }
            </div>
        </div>

        <div class="section">
            <div class="row center">
                <h5 class="header col s12 light grey-text">所有兴趣小组 (@Model.ToList().Count)</h5>
            </div>

            <div class="collection" style="max-width: 700px; margin: auto">
                @foreach (var group in Model)
                {
                    <a href="@Url.Action("Get", new {groupId = group.Id, p = 1})" class="collection-item">
                        <div>
                            @group.Name (@group.TweetsCount)
                            <small> · 最后更新: @group.LastTweetUpdateTime.ToString("M")</small>
                            <span class="new badge">@group.TweetsCount</span>
                        </div>
                    </a>
                }
            </div>
            <br />
            <div class="horizontal click-to-toggle center">
                <a class="btn waves-effect waves-light" href="@Url.Action("Create", "Group")">
                    Customize your Group
                </a>
            </div>
            <br />
        </div>

        <div class="section">
            <div class="row center">
                <h5 class="header col s12 light grey-text">更多功能...</h5>
            </div>
            <div class="center">请告诉我们你的意见和建议:)</div>
            <br />
            <br />
        </div>
    </div>
</div>
