@model Twitter.App.Models.ViewModels.TweetViewModel

@*<li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">@Model.Author</span>
        <p>
            @Model.Text <br />
            @Model.DatePosted
        </p>
        <a href="@Url.Action("GetTweet", "Tweets", new {tweetId = Model.Id})" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>*@
<li>
    <div class="col s12 m8 offset-m2 l6 offset-l3 hoverable">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="~/img/Uploads/Thumbnails/@Model.AvatarImageName" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text" style="font-size: 20px">
                        <a style="font-family: GillSans, Calibri, Trebuchet, sans-serif; font-size: 26px">@Model.Author</a>
                        <br/>
                        @Model.Text <br />
                    </span>
                </div>
            </div>
            <div class="card-action">
                <a href="@Url.Action("GetTweet", "Tweets", new {tweetId = Model.Id})">View More</a>
            </div>
        </div>
    </div>
</li>
@*<li>
    <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="card-content black-text">
            <span class="card-title">@Model.Author</span>
            <p>
                @Model.Text <br />
                @Model.DatePosted
            </p>
        </div>
        <div class="card-action">
            <a href="@Url.Action("GetTweet", "Tweets", new {tweetId = Model.Id})">View More</a>
        </div>
    </div>
</li>*@