@using Twitter.App.Constants
@model Twitter.App.Models.ViewModels.TweetViewModel

<li>
    <div class="col s12 m8 offset-m2 l6 offset-l3 hoverable">
        <div class="card-panel grey lighten-5 z-depth-1" style="padding-top: 5px">
            <div class="row valign-wrapper">
                <div class="groupTweetLeftPart">
                    <div style="max-width: 100px; float: left">
                        @if (Model.HasAvatarImage)
                        {
                            <img src="~/img/Uploads/Thumbnails/@Model.AvatarImageName" alt="" class="circle responsive-img">
                        }
                        else
                        {
                            <img src=@Constants.Based64UserAvatarImage alt="" class="circle responsive-img">
                        }
                    </div>
                </div>
                <div class="groupTweetRightPart">
                    <span class="black-text" style="font-size: 20px">
                        <a class="groupTweetAuthor" style="font-family: GillSans, Calibri, Trebuchet, sans-serif;">@Model.Author</a>
                        <br />
                        @Model.Text <br />
                    </span>
                </div>
            </div>
            <div class="card-action">
                <div>
                    <a class="btn waves-effect waves-light hide-on-small-only" href="@Url.Action("GetTweet", "Tweets", new { tweetId = Model.Id })" style="font-size: 12px">
                        View More
                    </a>
                    <a style="float: right">@Model.DatePosted</a>
                </div>
                @*<a href="@Url.Action("GetTweet", "Tweets", new {tweetId = Model.Id})" style="float: right">View More</a>*@
            </div>
        </div>
    </div>
</li>