@using Twitter.App.Constants
@model Twitter.Models.Group
@{
    ViewBag.Title = "Edit Group";
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="container body-content-index-tweet mdl-demo">
    @using (Html.BeginForm("Edit", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="modal-body mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                     style="width: auto">
                    <h3>
                        Group Infomation:
                    </h3>

                    <div class="form-group" style="display: none">
                        @Html.LabelFor(g => g.Id, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(g => g.Id, new { @class = "form-control", @Value = ViewData["GroupId"] })
                        </div>
                    </div>

                    @if (Model.HasImageOverview)
                    {
                        <img src="~/img/Uploads/Thumbnails/@Model.ImageOverview" alt="" />
                    }
                    else
                    {
                        <img src=@Constants.Based64UserAvatarImage alt="" class="circle responsive-img">
                    }
                    [
                    @Html.ActionLink("上传兴趣小组头像", "UploadGroupImage", new { groupId = Model.Id })
                    ]

                    @Html.TextAreaFor(t => t.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(t => t.Name, string.Empty, new { @class = "text-danger" })

                    @Html.TextAreaFor(t => t.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(t => t.Description, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="modal-body">
                    Created time:
                    <a>@Model.CreatedTime</a>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-0 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="reset" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Group")'">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    }
</div>
