@using Twitter.App.Constants
@model Twitter.App.Models.ViewModels.GroupVieModels
@{
    ViewBag.Title = "Edit Group";
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="container body-content-index-tweet mdl-demo">
    <h3>
        更新小组信息:
    </h3>
    <h5>
        @Model.Name, 创建于 @Model.CreatedTime.ToString("M")
    </h5>
    <div class="center">
        @if (Model.GroupPhotos.Any())
        {
            <img src="~/img/Uploads/Thumbnails/@Model.GroupPhotos.LastOrDefault().Name" alt="" />
        }
        else
        {
            <img src=@Constants.Based64UserAvatarImage alt="" class="circle responsive-img">
        }
        <div>
            [
            @Html.ActionLink("更新兴趣小组头像", "UploadGroupImage", new { groupId = Model.Id })
            ]
        </div>
    </div>

    @using (Html.BeginForm("Edit", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="input-field col s12 left" style="display: none !important;">
            <input id="group-id" type="text" class="validate" name="GroupId" value="@Model.Id">
        </div>

        <div class="row">
            <div class="input-field col s4">
                <input id="description" type="text" class="validate" name="Name" value="@Model.Name">
                <label for="description">小组名称</label>
            </div>
            <div class="input-field col s8">
                <input id="description" type="text" class="validate" name="Description" value="@Model.Description">
                <label for="description">小组的描述...</label>
            </div>
            @*<div class="row center">
                <div class="input-field col s6 offset-s3">
                    <select class="browser-default" name="Classcification">
                        <option value="Ohter" disabled selected>选择小组分类(可选)</option>
                        <option value="Ohter">其他</option>
                    </select>
                </div>
            </div>*@

        </div>
        <div class="row center">
            <div class="col s12">
                <input class="waves-effect waves-light btn" type="submit" value="更新" />
            </div>
        </div>
    }

</div>
