@using PagedList
@using PagedList.Mvc
@using Twitter.App.Models.ViewModels
@model IEnumerable<Twitter.App.Models.ViewModels.TweetViewModel>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<nav style="background: #009688">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="@Url.Action("Index")" class="breadcrumb">首页</a>
            <a href="@Url.Action("Get", new {groupId = ViewData["GroupId"], p = 1})" class="breadcrumb">@ViewData["GroupName"]</a>
        </div>
    </div>
</nav>


@*<div class="section no-pad-bot" id="index-banner0" style="background-color: #f5f8fa">
    <div class="container">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="https://qqmgs.com/img/Uploads/Thumbnails/43c0033c-0a86-4896-b32c-5ccdac99fc09_IMG_1969.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>生日快乐!</h3>
                        <h5 class="light grey-text text-lighten-3">冯诗文童鞋，全球某工商忠实粉丝，9月1生日快乐.</h5>
                    </div>
                </li>
                <li>
                    <img src="https://qqmgs.com/img/Uploads/Thumbnails/7b913773-2cf0-4b16-a5ef-22d899db1345_IMG_5536.jpg"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>岁岁有今日</h3>
                        <h5 class="light grey-text text-lighten-3">感谢你的支持，全球某工商因你而精彩.</h5>
                    </div>
                </li>
                <li>
                    <img src="https://qqmgs.com/img/Uploads/ebdca3cb-06db-4b99-a856-94e410b018ad_IMG_3055.jpg"> <!-- random image -->
                    <div class="caption right-align">
                        <h3>年年有今朝</h3>
                        <h5 class="light grey-text text-lighten-3">祝福诗文，18 岁生日快乐</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>*@


<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center hide-on-small-only">
            <h5 class="header col s12 light grey-text">@Resources.Group · @ViewData["GroupName"]</h5>
        </div>
        <div class="row hide-on-small-only" style="max-width: 700px; margin: auto">
            @using (Html.BeginForm("CreateTweet", "Tweets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s10">
                            <textarea class="materialize-textarea" id="input_text" type="text" length="200" name="Text"></textarea>
                            <input id="hidden_group_id_property" type="text" name="GroupId" value="@ViewData["GroupId"]" style="display: none !important;">
                            <label for="input_text"><a style="font-size: 16px; color: #009688">在这里和大家分享你此时此刻的想法 ...</a></label>
                        </div>
                        <div class="form-group col s2" style="margin-top: 35px">
                            <input type="submit" value="Post" class="awesome-button" />
                        </div>
                    </div>
                </form>
            }
        </div>

        <div class="row center">
            <h5 class="header col s12 light grey-text" style="margin: auto">大家的发言</h5>
        </div>

        <div style="max-width: 700px; margin: auto">
            <ul class="">
                @foreach (var tweet in Model)
                {
                    Html.RenderPartial("MaterializedTweet", tweet);
                }
            </ul>
            <br>
            <div class="paging">
                <ul class="pagination" style="margin: auto; padding-bottom: 20px">
                    @{
                        var data = Model as IPagedList<TweetViewModel>;
                    }
                    @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Get", new { p = page }))
                </ul>
            </div>
        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 38px;">
            <a class="btn-floating btn-large red" href="@Url.Action("AddTweet", "Group", new {groupId = $"{ViewData["GroupId"]}"})">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>

    </div>
</div>
