@model IEnumerable<Twitter.App.Models.ViewModels.GroupVieModels>

<div class="section hide-on-small-only" style="padding-top: 0px; padding-bottom: 0px">
    <div class="row center" style="margin: auto">
        <h6 class="header col s12 light grey-text">实时校园热搜</h6>
    </div>

    <div class="row" style="margin: auto">
        @foreach (var group in Model)
        {
            <div class="col s2">
                <div class="card" style="max-width: 160px;">
                    <div class="card-image waves-effect waves-block waves-light">
                        @if (group.HasImageOverview)
                        {
                            <img class="activator" src="~/img/Uploads/Thumbnails/@group.ImageOverview" alt="">
                        }
                        else
                        {
                            // TODO: use default
                            <img class="activator" src="https://qqmgs.com/img/Uploads/ceb5a6b6-9dfa-4d7f-bb0d-aff3ad454aad_20131108111102-1464680280.jpg" alt="">
                        }
                    </div>
                    <div class="card-content" style="padding-left: 12px; padding-right: 12px; padding-bottom: 0px; padding-top: 0px">
                        @*<span class="card-title activator grey-text text-darken-4" style="font-size: 18px; line-height: 30px">@group.Name</span>*@
                        <p>
                            <a href="@Url.Action("Get", new {groupId = group.Id, p = 1})" style="font-size: 14px; color: #26a69a; font-weight: bold">@group.Name</a>
                        </p>
                    </div>
                    <div class="card-reveal" style="-ms-opacity: 0.83; opacity: 0.83">
                        <span class="card-title grey-text text-darken-4" style="font-size: 1rem">
                            @group.Name
                        </span>

                        @{
                            if (group.Description == null)
                            {
                                group.Description = "等待添加";
                            }
                        }

                        <div style="font-size: 0.8rem">
                            <p>简介: @group.Description</p>
                            <p>创建于 @group.CreatedTime.ToString("M")</p>
                        </div>

                    </div>
                </div>
            </div>
                            }
    </div>
</div>
