@using Twitter.App.Constants
@using Twitter.Models
@using Twitter.Models.GroupModels

@model IEnumerable<Twitter.App.Models.ViewModels.GroupVieModels>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<nav style="background: #009688; height: 53px; line-height: 53px">
    <div class="nav-wrapper container" style="padding-top: 0px">
        <div class="col s12">
            <a href="@Url.Action("Index")" class="breadcrumb">首页</a>
        </div>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner" style="padding-top: 0px; background-color: #f5f8fa">
    <div class="container">
        @{
            Html.RenderAction("GetUserRecommand");
        }

        <div class="section hide-on-small-only" style="padding-top: 0px">
            <div class="row" style="margin: auto">
                @{
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.兴趣爱好});
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.社团组织});
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.我爱学习});
                }
            </div>
        </div>

        <div class="section hide-on-small-only" style="padding: 0px">
            <div class="row center" style="margin:auto">
                @{
                    Html.RenderAction("GetSearchGroup");
                }
            </div>
        </div>

        @{
            Html.RenderAction("GetParticipatedGroups");
        }
        
        <div class="section">
            <div class="row center" style="margin: auto">
                <h6 class="header col s12 light grey-text">所有兴趣小组 (@Model.ToList().Count)</h6>
            </div>

            <div class="collection" style="max-width: 700px; margin: auto">
                @foreach (var group in Model)
                {
                    <div>
                        @if (group.HasImageOverview)
                        {
                            <img style="max-width: 42px" class="left" src="~/img/Uploads/Thumbnails/@group.ImageOverview" alt="">
                        }
                        else
                        {
                            <img style="max-width: 42px" class="left" src=@Constants.Based64GroupOverviewImage alt="">
                        }
                    </div>

                    <a href="@Url.Action("Get", new {groupId = group.Id, p = 1})" class="collection-item">
                        <div style="text-align: left; margin-left: 30px; ">
                            @group.Name
                            <small class="hide-on-small-and-down"> · 最后更新: @group.LastTweetUpdateTime.ToString("M")</small>
                            @if (group.IsPrivate)
                            {
                                <span class="new badge" data-badge-caption="条讨论">私密 @group.TweetsCount</span>
                            }
                            else
                            {
                                <span class="new badge" data-badge-caption="条讨论">@group.TweetsCount</span>
                            }
                        </div>
                    </a>
                }
            </div>
            <br />
            <div class="horizontal click-to-toggle center">
                <a class="btn waves-effect waves-light" href="@Url.Action("Create", "Group")">创建属于你的兴趣小组</a>
            </div>
            <br />
        </div>


        <div class="section">
            <div class="row center" style="margin: auto">
                <h6 class="header col s12 light grey-text">加入的私密小组</h6>
            </div>
            <div class="collection" style="max-width: 700px; margin: auto">
            @{
                Html.RenderAction("GetAllGroups");
            }
            </div>
        </div>


        <div class="section">
            <div class="row center">
                <h6 class="header col s12 light grey-text">更多功能</h6>
            </div>
            <div class="center">
                <a class="teal-text">请告诉我们你的意见和建议 :)</a>
                <br />
                <div style="padding-top: 10px">
                    <a href="@Url.Action("Get", new {groupId = 47, p = 1})" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>提意见</a>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
