@using Twitter.App.Constants
@using Twitter.Models
@using Twitter.Models.GroupModels

@model IEnumerable<Twitter.App.Models.ViewModels.GroupVieModels>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}
@*<style>
    .grouplist {
        border-bottom: 1px solid #e0e0e0;
    }

        .grouplist:nth-child(4) ~ .grouplist {
            display: none;
        }
</style>*@
<nav style="background: #009688; height: 53px; line-height: 53px">
    <div class="nav-wrapper container" style="padding-top: 0px">
        <div class="col s12">
            <a href="@Url.Action("Index")" class="breadcrumb">首页</a>
        </div>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner" style="padding-top: 0px; background-color: #f5f8fa">
    <div class="container">

        @{
            Html.RenderAction("GetUserRecommand");
        }

        <div class="section hide-on-small-only" style="padding-top: 0px">
            <div class="row" style="margin: auto">
                @{
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.兴趣爱好});
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.社团组织});
                    Html.RenderAction("GetClassificatedGroup", "Group", new {classification = Classification.我爱学习});
                }
            </div>
        </div>

        <div class="section hide-on-small-only" style="padding: 0px">
            <div class="row center" style="margin: auto">
                @{
                    Html.RenderAction("GetSearchGroup");
                }
            </div>
        </div>

        @{
            Html.RenderAction("GetParticipatedGroups");
        }

        <div class="section">
            <div class="row center" style="margin: auto">
                <h6 class="header col s12 light grey-text">最近更新的兴趣小组 (@Model.ToList().Count)</h6>
            </div>

            <div class="collection" style="max-width: 700px; margin: auto">
                <div class="J-groupList">
                    @foreach (var group in Model)
                    {
                        <div style="border-bottom: 1px solid #e0e0e0;">
                            <div>
                                @if (group.GroupPhotos.Any())
                                {
                                    <img style="width: 3.0rem; margin: 10px;" class="left" src="~/img/Uploads/Thumbnails/@group.GroupPhotos.LastOrDefault().Name" alt="">
                                }
                                else
                                {
                                    <img style="width: 3.0rem; margin: 10px;" class="left" src=@Constants.Based64GroupOverviewImage alt="">
                                }
                            </div>

                            <a href="@Url.Action("Get", new {groupId = group.Id, p = 1})" class="collection-item" style="line-height: 3.0rem;">
                                <div style="position: relative;">
                                    @group.Name
                                    <small class="hide-on-small-and-down"> · 最后更新: @group.LastTweetUpdateTime.ToString("M")</small>
                                    @if (group.IsPrivate)
                                    {
                                        <span class="new badge" data-badge-caption="条讨论" style="height: 2.0rem; line-height: 2.0rem; top: 0; bottom: 0; margin: auto 0; right: 0;">私密 @group.TweetsCount</span>
                                    }
                                    else
                                    {
                                        <span class="new badge" data-badge-caption="条讨论" style="height: 2.0rem; line-height: 2.0rem; top: 0; bottom: 0; margin: auto 0; right: 0;">@group.TweetsCount</span>
                                    }
                                </div>
                            </a>
                        </div>
                    }

                    @if (Model.Count() >= Constants.DefaultRecentlyUpdateGroupNumber)
                    {
                        <a href="javascript:void(0)" class="collection-item J-more" style="line-height: 2.0rem;">
                            <div class="center">
                                加载更多
                            </div>
                        </a>
                    }

                </div>

                <br/>
                <div class="horizontal click-to-toggle center">
                    <a class="btn waves-effect waves-light" href="@Url.Action("Create", "Group")">创建属于你的兴趣小组</a>
                </div>
                <br/>
            </div>

            @{
                Html.RenderAction("GetAllGroups");
            }

            <div class="section">
                <div class="row center">
                    <h6 class="header col s12 light grey-text">更多功能</h6>
                </div>
                <div class="center">
                    <a class="teal-text">请告诉我们你的意见和建议 :)</a>
                    <br/>
                    <div style="padding-top: 10px">
                        <a href="@Url.Action("Get", new {groupId = 47, p = 1})" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>提意见</a>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    (function() {
        var groupList = $('.J-groupList');
        groupList.children('div').eq(4).nextAll('div').hide(); //这里修改第一次显示多少个，当前为4，表示显示5个
        var num = 5; //这里修改点击一次加载多少个，当前是5，表示一次加载5个
        $('.J-more')
            .bind('click',
                function() {
                    var i = groupList.children('div:visible').length, //当前显示了多少个
                        j = 0,
                        count = groupList.children('div').length; //一共有多少个
                    if (count - i <= 0) {
                        $(this).hide();
                    } else {
                        for (; j < num; j++) {
                            groupList.children('div').eq(i + j).fadeIn();
                            console.log(i + j);
                            if (i + j - count >= 0) {
                                $(this).hide();
                                break;
                            }
                        }
                    }
                });
    })();
</script>