@using Twitter.App.Constants
@model Twitter.App.Models.ViewModels.TweetViewModel

<li>
    <div class="col s12 m8 offset-m2 l6 offset-l3 hoverable" id="@($"Post{@Model.Id}")">
        <div class="card-panel grey lighten-5 z-depth-1" style="padding-top: 5px; margin-bottom: 0px; padding-bottom: 1px">
            <div class="row valign-wrapper" style="margin-bottom: auto">
                <div class="groupTweetLeftPart">
                    <div style="max-width: 100px; float: left">
                        @if (Model.HasAvatarImage)
                        {
                            <img src="~/img/Uploads/Thumbnails/@Model.AvatarImageName" alt="" class="circle responsive-img">
                        }
                        else
                        {
                            <img src=@Constants.Based64UserAvatarImage alt="" class="circle responsive-img">
                        }
                    </div>
                </div>
                <div class="groupTweetRightPart">
                    <div class="black-text" style="font-size: 20px">
                        <a class="groupTweetAuthor" style="font-family: GillSans, Calibri, Trebuchet, sans-serif;">@Model.Author</a> <a style="font-size: 12px; color: gray; padding-left: 6px">@Model.AuthorStatus</a>
                        <br/>
                        <div class="flow-text">
                            @Model.Text <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="row " style="margin-bottom: 0px">
                    @*<div class="col s2 hide-on-small-only">
                        <a class="btn" href="@Url.Action("GetTweet", "Tweets", new {tweetId = Model.Id})" style="font-size: 12px;max-height: 110px">More</a>    
                    </div>*@

                    @*<div>
                        <div class="chip" id="@($"FavouriteList{@Model.Id}")">
                            <img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person">
                            Jane Doe
                        </div>
                    </div>*@

                    @*<div class="col s4 hide-on-small-only">
                        <a href="@Url.Action("Like", "Tweets", new {tweetId = Model.Id, group = Model.GroupId, page = ViewData["PageNumber"]})" class="btn" style="padding-left: 11px; padding-right: 11px;">
                            赞<span id="@($"Favourites{Model.Id}")" class="badge" style="position: static; color: white">@Model.UsersFavouriteCount</span>
                        </a>
                    </div>*@

                    <div>
                        <a style="float: right; font-size: 12px">@Model.DatePosted.ToString("h:mm tt MMMM dd")</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="collection" style="margin: 0rem 0 0rem 0">
            @foreach (var reply in Model.ReplyList.OrderBy(r => r.PublishTime).Take(15))
            {
                <div>
                    <!-- Modal Trigger -->
                    <a class="collection-item" style="padding-bottom: 0px; padding-top: 0px; padding-left: 6px; padding-right: 0px">
                        <div class="groupTweetReplyAuthor" style="font-family: GillSans, Calibri, Trebuchet, sans-serif; background-color: #f5f8fa">
                            <div class="chip" style="font-size: 12px; margin-right: 12px; background-color: #cce4e4">
                                @if (reply.HasAvatarImage)
                                {
                                    <img src="~/img/Uploads/Thumbnails/@reply.AvatarImageName" alt="Contact Person">
                                }
                                else
                                {
                                    <img src=@Constants.Based64UserAvatarImage alt="Contact Person">
                                }

                                @reply.Author
                            </div> @reply.Text
                        </div>
                    </a>
                </div>
            }
            @using (Html.BeginForm("Reply", "Tweets", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <form class="col s12">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="input-field col s9" style="margin-top: 0px">
                            @*<i class="material-icons prefix">mode_edit</i>*@
                            <input placeholder="点击参与评论" id="input_text" type="text" name="Text" style="margin-bottom: 0px; margin-left: 10px">
                            <input id="hidden_group_id_property" type="text" name="Id" value="@Model.Id" style="display: none !important;">
                        </div>
                        <div class="input-field col s2" style="padding-left: 7px; padding-right: 7px; padding-bottom: 6px; font-size: 11px">
                            <input class="btn btn-default" type="submit" value="Reply" style="padding-left: 9px; padding-right: 9px"/>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>

    <br/>
</li>
