@using PagedList
@using PagedList.Mvc
@using Twitter.App.Constants
@using Twitter.App.Models.ViewModels
@model PagedList.IPagedList<Twitter.App.Models.ViewModels.TweetViewModel>

@{
    Layout = "";
}

@{
    var lastPage = Math.Max(1, (int)ViewData["PageNumber"] - 1);
    var nextPage = (int)ViewData["PageNumber"] + 1;
    var tweetsCount = (int)ViewData["TweetsCount"];
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="refresh" content="1120">

    <title>全球某工商墙</title>

    <!-- JavaScript Baidu Analytics -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?a6245c7118c12f7de3692c2972eb41b6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- CSS -->
    <link href="~/Content/materizeCss/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <style type="text/css">
        .DisplayContent {
        }

        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
    <div style="position:fixed; width: 100%; height: 100%;background: url(http://picview.info/download/20150302/abstract-code-black-programming-technology-computer-1024x768.jpg) no-repeat center center; background-size: cover; z-index: 1;"></div>
    <div style="position: relative; z-index: 999; overflow: hidden; width: 100%; height: 100%;">
        @*<img src="~/img/Photo/pro.jpg" style="width:100%; height:100%; " alt="" />*@

        <h2 style="text-align: center; margin: auto; color: white; font-size: 2.8rem">@ViewData["GroupName"] · 全球某工商墙 (@tweetsCount 条信息)</h2>

        <br />
        <br />

        @foreach (var tweet in Model)
            {
            <div style="display: flex; justify-content: space-around; display: -webkit-flex; color: #fff; font-size: 5rem; max-height: 200px; overflow: hidden;">
                <div style="box-sizing: border-box;width:24%; align-self: center; text-align: center;">
                    <div style="line-height: 0">
                        @if (tweet.HasAvatarImage)
                        {
                            <img src="~/img/Uploads/Thumbnails/@tweet.AvatarImageName" alt="" class="circle responsive-img" style="max-width: 137px;">
                        }
                        else
                        {
                            <img src=@Constants.Based64UserAvatarImage alt="" class="circle responsive-img" style="max-width: 137px;">
                        }
                    </div>
                    <p class="white-text" style="margin: 0; padding-bottom: 10px;font-size: 0.5em; text-shadow: 1px 1px 2px #ccc;">
                        @tweet.Author
                    </p>
                </div>
                <div style="width:60%;box-sizing: border-box; line-height: 1.2">
                    <div class="white-text DisplayContent" style="word-wrap:break-word;">@tweet.Text</div>
                </div>
                <div style="width:15%;box-sizing:border-box; align-self: center; text-align: center; ">
                    <span class="white-text" style="font-size: 0.48em; text-shadow: 1px 1px 2px #ccc;">
                        @tweet.DatePosted.ToString("hh:mm")
                    </span>
                </div>
            </div>
        }
        @*<div class="paging">
                <ul class="pagination" style="margin: auto; padding-bottom: 20px">
                    @{
                        var data = Model as IPagedList<TweetViewModel>;
                    }
                    @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Get", new { p = page }))
                </ul>
            </div>*@
        <br />
        <br />

        <div style="position: absolute; bottom: 0; right:0px;">
            <a href="@Url.Action("PluginDisplayWall", new {groupId = ViewData["GroupId"] , p = lastPage})" class="waves-effect waves-light btn-large" style="padding: 0 0.4em; font-size: 40px; margin-right: 7px;"><</a>
            <a href="@Url.Action("PluginDisplayWall", new {groupId = ViewData["GroupId"] , p = nextPage})" class="waves-effect waves-light btn-large" style="padding: 0 0.4em; font-size: 40px;">></a>
        </div>

        <div class="center">
            <a href="@Url.Action("GetGroupDisplayWallRaffle", new {groupId = ViewData["GroupId"]})" class="btn btn-default">进入抽奖</a>
        </div>

        <div style="position: absolute; bottom: 0; left:15px;">
            <a style="color: #ffffff; font-size: 0.8rem">全球某工商 | QQmgs.com - 做最 in 的社交，开最 high 的 party</a>
        </div>

    </div>

    <script src="~/Scripts/MaterizeJS/jquery-2.1.1.min.js"></script>

    <script language="javascript">

        $(function () {
            var $quotes = $(".DisplayContent");
            $quotes.each(function (index, self) {
                var $numWords = $(self).text().split("").length;

                if (($numWords >= 1) && ($numWords < 5)) {
                    $(self).css("font-size", "10rem");
                } else if (($numWords >= 5) && ($numWords < 7)) {
                    $(self).css("font-size", "8rem");
                } else if (($numWords >= 7) && ($numWords < 17)) {
                    $(self).css("font-size", "6rem");
                } else if (($numWords >= 17) && ($numWords < 20)) {
                    $(self).css("font-size", "5rem");
                } else if (($numWords >= 20) && ($numWords < 30)) {
                    $(self).css("font-size", "4rem");
                } else if (($numWords >= 30) && ($numWords < 40)) {
                    $(self).css("font-size", "3rem");
                } else if (($numWords >= 40) && ($numWords < 65)) {
                    $(self).css("font-size", "2.5rem");
                } else {
                    $(self).css("font-size", "2rem");
                }
            });
        });
    </script>

</body>
</html>