@{
    Layout = null;
}

<!DOCTYPE html>
<html class="wf-tondo-n4-active wf-tondo-n7-active wf-tondo-n3-active wf-active">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/Content/job-500px/style_guide.css" rel="stylesheet" type="text/css">
    <link href="~/Content/job-500px/styles.css" rel="stylesheet" type="text/css">
    <title>@Resources.QQmgscom</title>

</head>

<body class="jobs jobs_index touch">
    <div class="nav">
        <div class="wrapper clearfix">
            <div class="left">
                <div style="padding-top: 12px">
                    <a class="" href="@Url.Action("Index")" style="color: white; font-size: 20px">QQmgs.com</a>
                </div>
            </div>
            <ul>
                <li><a class="" href="@Url.Action("Index")"><span>首页</span></a></li>
                <li><a class="" href="@Url.Action("About")"><span>产品介绍</span></a></li>
                <li><a class="" href="@Url.Action("About")"><span>产品功能</span></a></li>
                <li><a class="" href="@Url.Action("About")"><span>团队介绍</span></a></li>
                <li><a class="active" href="@Url.Action("Job")"><span>工作机会</span></a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="top">
            <div class="photo" style="transform: translate3d(0px, 0px, 0px);"></div>
            <div class="center">
                <div class="intro" style="transform: translate3d(0px, 0px, 0px);">
                    <h1>加入全球某工商</h1>
                    <p>
                        在全球某工商，我们将打造一个连接所有师生的实时社交网络
                    </p><br>
                    <a class="scroll_to_positions button medium on-image" href="#benefits">点击申请</a>
                </div>
            </div>
        </div>
        <section class="white values">
            <h2></h2>
            <p>
                这是一个完全由在校大学生组成，充满激情和创造力的团队
                <br>
                欢迎一切对技术，产品，市场以及运营感兴趣的同学加入我们
            </p>
            <div class="grid clearfix">
                <div class="overflow">
                    <div class="value" style="background-color: #756cd3">
                        <img alt="Excellence" src="~/Content/job-500px/excellence.jpg">
                        <div class="details">
                            <div class="center">Embody, recognize, and appreciate excellence in ourselves and our work.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #d65e64">
                        <img alt="Creativity" src="~/Content/job-500px/creativity.jpg">
                        <div class="details">
                            <div class="center">We care deeply about our craft.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #b9d987">
                        <img alt="Transparent" src="~/Content/job-500px/transparency.jpg">
                        <div class="details">
                            <div class="center">Open and honest.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #56cab9">
                        <img alt="Empathy" src="~/Content/job-500px/empathy.jpg">
                        <div class="details">
                            <div class="center">We care about each other and our community.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #7a99c2">
                        <img alt="Fun" src="~/Content/job-500px/fun.jpg">
                        <div class="details">
                            <div class="center">We have fun at work — and laugh a lot.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits" id="benefits">
            <h2 class="tall">公开职位</h2>
            <div class="wrapper clearfix">
                <div class="benefit">
                    <div class="icon retina-theessentials-2537"></div>
                    <div class="title">技术</div>
                    <div class="body">
                        <br/>
                        iOS 开发工程师
                        <br/>
                        <br/>
                        Android 开发工程师
                        <br/>
                        <br/>
                        JavaScript/CSS/HTML 前端工程师
                        <br/>
                        <br/>
                        C#/.NET 后台工程师 (JAVA 亦可)
                    </div>
                </div>
                <div class="benefit">
                    <div class="icon retina-autotools-0176"></div>
                    <div class="title">产品/运营/UI</div>
                    <div class="body">
                        <br/>
                        互联网产品经理
                        <br/>
                        <br/>
                        UI 设计
                        <br/>
                        <br/>
                        社区运营
                    </div>
                </div>
                <div class="benefit">
                    <div class="icon retina-foodbeverages-1293"></div>
                    <div class="title">联系方式</div>
                    <div class="body">
                        <br/>
                        递交简历至 recurit@qqmgs.com
                        <br/>
                        <br/>
                        或者微信联系 Jeremy: brekweixin
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </section>
    </div>
    <footer><a href="@Url.Action("Index")">返回首页</a></footer>


</body>
</html>