@model IEnumerable<Twitter.App.Models.ViewModels.DevLogViewModel>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>

        <div class="row center">
            <h5 class="header col s12 light grey-text">Develop log</h5>
        </div>

        <div style="max-width: 700px; margin: auto">
            <ul class="collection">
                @foreach (var log in Model)
                {
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title grey-text">#@log.Id</span>
                        <p>
                            @log.Log @log.Log @log.Log @log.Log @log.Log @log.Log @log.Log @log.Log @log.Log @log.Log 
                            <br>
                            On @log.PublishedTime
                        </p>
                    </li>
                }
            </ul>
        </div>
        <br>
    </div>
</div>
