@model List<Twitter.App.Models.ViewModels.UserLoginTraceViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Real-time monitoring system</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materizeCss/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/materizeCss/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body style="background-color: black">

    <h5 class="center" style="color: white">Real-time monitoring system</h5>
    <h6 class="center" style="color: white">Last data retrieving timestamp: @DateTime.Now.ToString("G")</h6>
    <br />
    <table class="centered responsive-table" style="color: white">
        <thead>
            <tr>
                <th data-field="ip">IP Address</th>
                <th data-field="name">Name</th>
                <th data-field="ga">Geography Address</th>
                <th data-field="cf">Confidence</th>
                <th data-field="phone">Phone Number</th>
                <th data-field="at">Active timestamp</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IpAddress</td>
                    <td>@item.LoggedUserName</td>
                    <td>
                        @if (item.HighAccIpLocation.Content != null)
                        {
                            @item.HighAccIpLocation.Content.FormattedAddress
                        }
                    </td>
                    <td>
                        @if (item.HighAccIpLocation.Content != null)
                        {
                            @item.HighAccIpLocation.Content.Confidence
                        }
                    </td>
                    <td>@item.LoggedUserPhoneNumber</td>
                    <td>@item.DatePosted.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>