@model Twitter.App.Models.ViewModels.TweetViewModel

<div class="panel panel-default" id ="@($"TweetPanel{@Model.Id}")">
    <div class="panel-heading">
        <span class="text-primary" id="tweet-author">@Model.Author.ToUpper()</span>
        <span class="text-muted" id="tweet-text-time">@Model.DatePosted</span>
    </div>
    <div class="panel-body" id="@($"TweetText{@Model.Id}")">
        <p class="tweet-text">@Model.Text</p>
    </div>
    <ul class="tweet-options">
        <li><a href="#">Reply <span class="badge">@Model.RepliesCount</span></a></li>
        <li><a href="#">Retweet <span class="badge">@Model.RetweetsCount</span></a></li>
        <li>
            @Ajax.ActionLink("Like", "Favourite", "Tweets",
            new { tweetId = @Model.Id },
            new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Favourites" + @Model.Id })
            <span class="badge" id="@($"Favourites{@Model.Id}")">@Model.UsersFavouriteCount</span>
        </li>
        @if (User.Identity.Name == Model.Author)
        {
            <li>
                <span class="text-muted tweet-operation">
                   @Html.ActionLink("Edit", "Edit", "Tweets", new { tweetId = @Model.Id }, null)
                </span>
            </li>
            <li>
                <span class="text-muted tweet-operation">
                    @Ajax.ActionLink("Delete", "Delete", "Tweets",
                    new { tweetId = @Model.Id },
                    new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "TweetPanel" + @Model.Id })
                </span>
            </li>
        }
    </ul>
</div>
