@model Twitter.App.Models.ViewModels.TweetViewModel

<div class="panel panel-default" id="@($"TweetPanel{@Model.Id}")">
    <div class="panel-heading">
        <span class="text-primary" id="tweet-author">@Model.Author.ToUpper()</span>
        <span class="text-muted" id="tweet-text-time">@Model.DatePosted</span>
    </div>
    <div class="panel-body" id="@($"TweetText{@Model.Id}")">
        <p class="tweet-text">@Model.Text</p>
    </div>
    <ul class="tweet-options">
        <li><a data-toggle="collapse" href="#@($"ReplyPanel{@Model.Id}")" id="ReplyButton">Reply <span class="badge">@Model.RepliesCount</span></a></li>

        <li><a href="#">Retweet <span class="badge">@Model.RetweetsCount</span></a></li>

        <li>
            @Ajax.ActionLink("Like", "Favourite", "Tweets",
                new {tweetId = @Model.Id},
                new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "Favourites" + @Model.Id})
            <span class="badge" id="@($"Favourites{@Model.Id}")">@Model.UsersFavouriteCount</span>
        </li>

        @if (User.Identity.Name == Model.Author)
        {
            <li>
                <span class="text-muted tweet-operation">
                   @Html.ActionLink("Edit", "Edit", "Tweets", new {tweetId = @Model.Id}, null)
                </span>
            </li>
            <li>
                <span class="text-muted tweet-operation">
                    @Ajax.ActionLink("Delete", "Delete", "Tweets",
                        new {tweetId = @Model.Id},
                        new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "TweetPanel" + @Model.Id})
                </span>
            </li>
        }
    </ul>
    <div id="@($"ReplyPanel{@Model.Id}")" class="panel-collapse collapse">
        @if (Model.ReplyList != null)
        {
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                @foreach (var reply in Model.ReplyList.OrderBy(r => r.PublishTime))
                {
                    <tr>
                        <td class="col-md-10">
                            <p style="padding-left: 9px">
                                @reply.AuthorName: @reply.Content
                            </p>
                        </td>
                        <td class="col-md-2">
                             On @reply.PublishTime.ToString("M")
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <div class="input-group">
                            @using (Ajax.BeginForm("Reply", "Tweets", new {tweetId = Model.Id}, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.InsertAfter,
                                UpdateTargetId = "ReplyPanel" + Model.Id
                            },
                                new {@class = "navbar-form"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <input type="text" class="form-control" name="content" placeholder="What's on your mind?">
                                <span>
                                    <button type="submit" class="btn btn-success" value="refresh" onclick="">Post</button>
                                </span>
                            }
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        }
    </div>
</div>