@model Twitter.App.Models.ViewModels.DevLogViewModel
@{
    ViewBag.Title = "New Log";
}
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("Create", "Dev", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(t => t.Log, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(t => t.Log, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.Log, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send" class="btn btn-default" onclick="location.href = '@Url.Action("Index", "DevLog")'" />
                </div>
            </div>
    }
    <br />
    <br />
    <br />
</div>