@using PagedList
@using PagedList.Mvc
@model IEnumerable<Twitter.App.Models.ViewModels.PhotoViewModel>

@{
    var data = Model as IPagedList<Twitter.App.Models.ViewModels.PhotoViewModel>;
}

<div class="row" style="margin-bottom: 0px">
    <div class="col s12 m9 l10">
        <div id="upload" class="section scrollspy" style="padding-bottom: 0px">
            @{ Html.RenderPartial("Upload"); }
        </div>

        <div id="introduction" class="section scrollspy show-on-large show-on-medium hide-on-small-and-down">
            <h3>Photo Sharing</h3>
            <p class="flow-text">Feel free to share your photography HERE!</p>
        </div>

        <div id="photos" class="section scrollspy">

            <div class="hide-on-med-and-up show-on-small">
                @foreach (var photo in Model)
                {
                    <div class="row">
                        <div class="col s6">
                            <div style="text-align: center; color: black">
                                <img class="materialboxed" data-caption="@photo.Description" width="330" src="~/img/Uploads/Thumbnails/@photo.Name" alt="">
                                <a>@photo.Description By @photo.Author</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="show-on-large show-on-medium hide-on-small-and-down">
                @{
                    var index = 0;
                    var photoList = Model.ToList();
                }
                @foreach (var photo in Model)
                {
                    if (index % 2 != 0)
                    {
                        <div class="row">
                            <div class="col s6">
                                <div style="text-align: center; color: black">
                                    <img class="materialboxed" data-caption="@photoList[index - 1].Description" width="450" src="~/img/Uploads/Thumbnails/@photoList[index - 1].Name" onclick="loadFullImage(this)" alt="">
                                    <a>@photoList[index - 1].Description By @photoList[index - 1].Author</a>
                                </div>
                            </div>
                            <div class="col s6">
                                <div style="text-align: center; color: black">
                                    <img class="materialboxed" data-caption="@photoList[index].Description" width="450" src="~/img/Uploads/Thumbnails/@photoList[index].Name" onclick="loadFullImage(this)" alt="">
                                    <a>@photoList[index].Description By @photoList[index].Author</a>
                                </div>
                            </div>
                        </div>
                    }
                    ++index;
                    <br />
                }
            </div>

        </div>

        <div id="End" class="section scrollspy hide-on-med-and-up show-on-small" style="margin-bottom: 0px; padding: 0px">
            <div class="paging">
                <ul class="pagination">
                    @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Index", new { pageNumber = page }))
                </ul>
            </div>
            <p>照片分享还在测试中，欢迎您的任何建议 mail to shuaiyi@qqmgs.com.</p>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2" style="position: fixed; top: 12%; right: 5%;">
        <ul class="section table-of-contents">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#End">End</a></li>
        </ul>
        <a style="color: black">See More</a>
        <div class="paging">
            <ul class="pagination">
                @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Index", new { pageNumber = page }))
            </ul>
        </div>
    </div>
</div>