@{
    Layout = null;
}

<!DOCTYPE html>
<html class="wf-tondo-n4-active wf-tondo-n7-active wf-tondo-n3-active wf-active">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/Content/job-500px/style_guide.css" rel="stylesheet" type="text/css">
    <link href="~/Content/job-500px/styles.css" rel="stylesheet" type="text/css">
</head>

<body class="jobs jobs_index touch">
    <div class="nav">
        <div class="wrapper clearfix">
            <div class="left">
                <div style="padding-top: 12px">
                    <a class="" href="@Url.Action("Index")" style="color: white; font-size: 20px">QQmgs.com</a>
                </div>
            </div>
            <ul>
                <li><a class="" href="@Url.Action("Index")"><span>Home</span></a></li>
                <li><a class="" href="@Url.Action("About")"><span>Introduction</span></a></li>
                <li><a class="" href="@Url.Action("About")"><span>Features</span></a></li>
                <li><a class="" href="@Url.Action("About")"><span>Team</span></a></li>
                <li><a class="active" href="@Url.Action("Job")"><span>Job</span></a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="top">
            <div class="photo" style="transform: translate3d(0px, 0px, 0px);"></div>
            <div class="center">
                <div class="intro" style="transform: translate3d(0px, 0px, 0px);">
                    <h1>加入全球某工商</h1>
                    <p>
                        在全球某工商，我们将会创造一个连接所有师生的实时社交网络。<br />这是一个完全由在校大学生组成，充满激情和创造力的团队，期待你的加入。
                    </p><br>
                    <a class="scroll_to_positions button medium on-image" href="#">点击申请</a>
                </div>
            </div>
        </div>
        <section class="white values">
            <h2></h2>
            <p>
                欢迎一切对技术，产品，市场以及运营感兴趣的同学加入我们，
                <br>
                这将会是一个让大家施展才能的地方.
            </p>
            <div class="grid clearfix">
                <div class="overflow">
                    <div class="value" style="background-color: #756cd3">
                        <img alt="Excellence" src="~/Content/job-500px/excellence.jpg">
                        <div class="details">
                            <div class="center">Embody, recognize, and appreciate excellence in ourselves and our work.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #d65e64">
                        <img alt="Creativity" src="~/Content/job-500px/creativity.jpg">
                        <div class="details">
                            <div class="center">We care deeply about our craft.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #b9d987">
                        <img alt="Transparent" src="~/Content/job-500px/transparency.jpg">
                        <div class="details">
                            <div class="center">Open and honest.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #56cab9">
                        <img alt="Empathy" src="~/Content/job-500px/empathy.jpg">
                        <div class="details">
                            <div class="center">We care about each other and our community.</div>
                        </div>
                    </div>
                    <div class="value" style="background-color: #7a99c2">
                        <img alt="Fun" src="~/Content/job-500px/fun.jpg">
                        <div class="details">
                            <div class="center">We have fun at work — and laugh a lot.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer><a href="@Url.Action("Index")">返回首页</a></footer>


</body>
</html>