@using Twitter.App.Models.ViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<div class="index-main" style="position: relative; z-index: 1">
    <div class="index-main-body">
        <div class="index-header">
            @*<h1 class="logo hide-text">知乎</h1>*@
            <h1 style="font-size: 60px; margin-top: 0px">全球某工商</h1>
            <h2 class="subtitle">连接每一位商大师生</h2>
        </div>
        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <div class="index-tab-navs">
                <div class="navs-slider" data-active-index="0">
                    <a href="@Url.Action("Register")" class="active">注册</a>
                    <a href="@Url.Action("Login")">登录</a>
                    <span class="navs-slider-bar"></span>
                </div>
            </div>
            <div class="view view-signup selected" data-za-module="SignUpForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                    <form>
                        <div class="group-inputs">
                            <div class="input-field" style="margin-top: 0px">
                                <input name="RealName" value="@Model.RealName" placeholder="姓名" id="first_name" type="text" style="margin-bottom: 0px; width: 95%; padding-left: 5%" class="validate">
                            </div>
                            <div class="input-field" style="margin-top: 0px">
                                <input name="PhoneNumber" value="@Model.PhoneNumber" placeholder="手机号" id="phone_number" type="text" style="margin-bottom: 0px; width: 95%; padding-left: 5%" class="validate">
                            </div>
                            <div class="input-field" style="margin-top: 0px">
                                <input name="Password" value="@Model.Password" placeholder="密码 (不少于4位)" id="password" type="password" style="margin-bottom: 0px; width: 95%; padding-left: 5%" class="validate">
                            </div>
                            @*<div class="input-field" style="margin-top: 0px">
                                    <input name="ConfirmPassword" value="@Model.ConfirmPassword" placeholder="再次确认密码" id="confirm_password" type="password" style="margin-bottom: 0px; width: 95%; padding-left: 5%" class="validate">
                                </div>*@
                            @*<div class="input-field" style="margin-top: 0px">
                                    <input name="Email" value="@Model.Email" placeholder="电子邮箱" id="Email_address" type="Email" style="margin-bottom: 0px; width: 95%; padding-left: 5%" class="validate">
                                </div>
                                <div class="input-field" style="margin-top: 0px">
                                    <input name="Class" value="@Model.Class" placeholder="专业班级" id="major_class" type="text" style="margin-bottom: 0px; border-bottom: none; width: 95%; padding-left: 5%" class="validate">
                                </div>*@
                        </div>
                        <div class="button-wrapper command" style="margin-top: 5px">
                            <!-- Switch -->
                            <div class="switch center">
                                <label>
                                    中文版
                                    <input type="checkbox" name="locale">
                                    <span class="lever"></span>
                                    International
                                </label>
                            </div>
                            <button class="sign-button submit" type="submit" style="margin-top: 10px">注册全球某工商</button>
                        </div>
                    </form>
                }
                <div class="QRCode" style="margin-top: 28px">
                    <button class="QRCode-toggleButton" onclick="location.href = '@Url.Action("About", "Home")'" type="button">
                        <span class="sprite-global-icon-qrcode"></span>
                        <span class="QRCode-toggleButtonText ">点击了解全球某工商.com</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
