<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 全球某工商.com</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="preloader">
    @*<img src="~/img/loader.gif" alt="Preloader image">*@
</div>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">@Resources.QQmgscom</span>
            <a class="mdl-navigation__link" href="@Url.Action("Index", "Home")">@Resources.homename</a>
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                @if (Request.IsAuthenticated)
                {
                    <a class="mdl-navigation__link" href="@Url.Action("GetTweetBySpecifiedUser", "Tweets")">@Resources.AllMyTweets</a>
                    <a class="mdl-navigation__link" href="@Url.Action("GetHotTweets", "Tweets")">@Resources.HotTweets</a>

                    using (Html.BeginForm("SearchUser", "Users", new { searchTerm = "" }, FormMethod.Post,
                        new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                            <label class="mdl-button mdl-js-button mdl-button--icon"
                                   for="waterfall-exp">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="text" name="sample"
                                       id="waterfall-exp" />
                            </div>
                        </div>
                    }
                }
                @Html.Partial("_LoginPartial")
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">QQmgs.com</span>
        <nav class="mdl-navigation">
            @if (Request.IsAuthenticated)
            {
                <a class="mdl-navigation__link" href="@Url.Action("Index", "Home")">@Resources.homename</a>
                <a class="mdl-navigation__link" href="@Url.Action("GetTweetBySpecifiedUser", "Tweets")">@Resources.AllMyTweets</a>
                <a class="mdl-navigation__link" href="@Url.Action("GetHotTweets", "Tweets")">@Resources.HotTweets</a>
            }

            @Html.Partial("_LoginPartial")
        </nav>
    </div>
    <div id="new-tweet"></div>
    <main class="mdl-layout__content">
        @RenderBody()
        <footer class="mdl-mini-footer">
            <br/>
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">QQmgs.com - Twitter V Project · Made by Crimlin Studio in ZJSU
                </div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">浙ICP备15036767号</a></li>
                </ul>
                <ul class="mdl-mini-footer__link-list">
                    <li>Thanks to: </li>
                </ul>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="http://zjsu.edu.cn/">Zhejiang Gongshang University</a></li>
                </ul>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="http://cie.zjsu.edu.cn">School of Computer Science and Information Engineering</a></li>
                </ul>
                <div class="mdl-logo">Freedom paltform for All the Students of Zhejiang Gongshang Univ.</div>
            </div>
        </footer>
    </main>
</div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@RenderSection("scripts", false)