@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a class="mdl-navigation__link" href="@Url.Action("Index", "Manage")">@Resources.Hello @User.Identity.GetUserName() !</a>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <a class="mdl-navigation__link" href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a>

        @*<ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new {title = "Manage"})
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>*@
    }
}
else
{
    <a class="mdl-navigation__link" href="@Url.Action("Register", "Account")">@Resources.Register</a>
    <a class="mdl-navigation__link" href="@Url.Action("Login", "Account")">@Resources.LogInButton</a>

    @*<ul class="nav navbar-nav navbar-right">
        <li>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                    style="margin-top: 15px" type="button" onclick="location.href = '@Url.Action("Register", "Account")'">
                Register
            </button>
        </li>
        <li>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                    style="margin-top: 15px" type="button" onclick="location.href = '@Url.Action("Login", "Account")'">
                Login
            </button>
        </li>

        <li>@Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>*@
}
