@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>@Resources.QQmgscom</title>

    <!-- JavaScript Baidu Analytics -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?a6245c7118c12f7de3692c2972eb41b6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- CSS -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/materizeCss/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/materizeCss/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="@Url.Action("Index", "Home")" class="brand-logo">@Resources.QQmgscom</a>
            <ul class="right hide-on-med-and-down">
                @if (Request.IsAuthenticated)
                {
                    <li><a style="color: rgb(82, 146, 0);font-weight: bold;font-size: 18px;" href="@Url.Action("index", "Activity")">活动</a></li>
                    <li><a style="color: #0F959D;font-weight: bold;font-size: 18px;" href="@Url.Action("index", "CourseReview")">点评</a></li>
                    <li><a style="color: #F7A54C;font-weight: bold;font-size: 18px;" href="@Url.Action("index", "Group")">小组</a></li>
                    <li><a style="color: #61ABDB;font-weight: bold;font-size: 18px;" href="@Url.Action("index", "Photo")">摄影</a></li>
                    <li><a href="@Url.Action("Search", "Group")" class="tooltipped" data-position="down" data-delay="30" data-tooltip="搜索"><i class="material-icons">search</i></a></li>
                    <li><a href="@Url.Action("Index", "Manage")"><img style="max-width: 35px; vertical-align: middle" src="@Html.Action("GetAvatarImage", "Manage")" alt="" class="circle responsive-img tooltipped" data-position="down" data-delay="30" data-tooltip="个人设置"></a></li>
                }
                else
                {
                    <li><a href="@Url.Action("index", "Photo")">@Resources.PhotoSharing</a></li>
                    <li><a href="@Url.Action("Register", "Account")">@Resources.Register</a></li>
                    <li><a href="@Url.Action("Login", "Account")">@Resources.LogInButton</a></li>
                }
            </ul>

            <ul id="nav-mobile" class="side-nav">
                @if (Request.IsAuthenticated)
            {
                    <li><a href="@Url.Action("index", "CourseReview")">@Resources.ReviewCourse</a></li>
                    <li><a href="@Url.Action("index", "Group")">@Resources.Group</a></li>
                    <li><a href="@Url.Action("index", "Photo")">@Resources.PhotoSharing</a></li>
                    <li><a href="@Url.Action("index", "Activity")">商大活动</a></li>
                    <li><a href="@Url.Action("Search", "Group")">搜索</a></li>
                    <li><a href="@Url.Action("Index", "Manage")">设置</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("index", "Photo")">@Resources.PhotoSharing</a></li>
                    <li><a href="@Url.Action("Register", "Account")">@Resources.Register</a></li>
                    <li><a href="@Url.Action("Login", "Account")">@Resources.LogInButton</a></li>
                }
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer class="page-footer teal" style="padding-top: 5px">
        <div class="container hide-on-small-and-down">
            <div class="row" style="margin: auto">
                <div class="col l8 s12">
                    <h6 style="font-size: 17px" class="white-text">全球某工商简介</h6>
                    <p style="font-size: 14px" class="grey-text text-lighten-4">
                        实时社交网络。大家可以在各个兴趣小组的板块下自由交流，同时可以创建自己的兴趣小组。全球某工商旨在帮助大家寻找在校内志同道合的朋友，解决大家打球时找不到球友，跑步时一个人太无聊的尴尬场面。
                    </p>
                </div>
                @*<div class="col l4 s12">
                        <h5 class="white-text">链接</h5>
                        <ul>
                            <li><a class="white-text" href="http://www.zjsu.edu.cn">浙江工商大学官网</a></li>
                            <li><a class="white-text" href="http://cie.zjsu.edu.cn">信息学院官网</a></li>
                        </ul>
                    </div>*@
                <div class="col l4 s12">
                    <h6 style="font-size: 17px" class="white-text">加入全球某工商</h6>
                    <a style="font-size: 14px" class="white-text" href="@Url.Action("Job", "Home")">
                        工作机会 (有兴趣加入我们吗(●'◡'●))
                    </a>
                    <br />
                    <br />
                    <a style="color: #fffff0" href="~/Downloads/Android.Version-0.0.1.apk">点击下载安卓Android手机 App</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright center">
            <div class="container row show-on-small hide-on-med-and-up" style="width: 100%">
                <a style="color: #fffff0" href="~/Downloads/Android.Version-0.0.1.apk">点击下载安卓Android手机 App</a>
            </div>
            <div class="container row hide-on-small-and-down" style="width: 100%">
                全球某工商在线 · 专属商大学生的社交网络 · 浙ICP备15036767号 · 浙公网安备 33011802000821号 · @{ Html.RenderAction("GetTotalUser", "Users"); } · @{Html.RenderAction("GetDailyTweetPosts", "Tweets");} · @{Html.RenderAction("GetDailyUserLogins", "Account");}
            </div>
        </div>
    </footer>


    <!-- Scripts-->
    <script src="~/Scripts/MaterizeJS/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/MaterizeJS/materialize.js"></script>
    <script src="~/Scripts/MaterizeJS/init.js"></script>

</body>
</html>
